.box{
    Margin:15px;
    padding: 25px 30px;
    border: 5px solid  teal;
    display: flex;
    justify-content: space-between;
}
.item{
    display:flex;
}
.id{
    font-weight: bold;
    font-size:  28px;
    flex:initial;
}
.title{
    font-size:  28px;
    margin: 0 20px;
    font-weight: bold;
    flex:auto;
}
.text{
    flex: auto;
    font-size:  28px;
}
.btns{
    display: block;
    margin: auto;
}
.input{
    width: 100%;
   border: 1px, solid,   teal;
   padding: 5px, 15px;
   margin: 5px, 10px;

}